<!-- This layout eliminates need for update db button and print button -->

<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <link href="/static/styles.css" rel="stylesheet">

        <title>Tellurides</title>

    </head>

    <body>

        <header>
            <div class="alert alert-primary mb-0 pb-0 bt-0 text-center" role="alert">
                <h1>Tellurides</h1>
            </div>
        </header>

        <main class="container-md py-0 text-center">
            <form action="/" method="get">
                <div class="mb-2">
                    <label class="me-2">Choose Date</label>
                    <input type="date" id="date" name="date" required>
                    <button type="submit" class="btn btn-primary btn-sm ms-2">See Schedule</button>
                </div>
            </form>
            <div class="mb-1">
                <h5>Selected Date: {{ date }}</h5>
            </div>
                <div class="row no-gutters align-items-start justify-content-center">
                    <div class="col-3">
                        <h6 class="title">Down</h6>
                        {% for row in down %}
                        <div class="card border-secondary mx-auto my-1" style="width: auto;">
                            <div class="card-body">
                                <p class="card-subtitle mb-2 text-muted">{{ row[0] }} - {{ row[1] }} - {{ row[2] }} - {{ row[3] }} - {{ row[4] }} - {{ row[5] }} - {{ row[6] }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <h6 class="title">Up</h6>
                        {% for row in up %}
                        <div class="card border-secondary mx-auto my-1" style="width: auto;">
                            <div class="card-body">
                                <p class="card-subtitle mb-2 text-muted">{{ row[0] }} - {{ row[1] }} - {{ row[2] }} - {{ row[3] }} - {{ row[4] }} - {{ row[5] }} - {{ row[6] }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <h6 class="title">Over</h6>
                        {% for row in over %}
                        <div class="card border-secondary mx-auto my-1" style="width: auto;">
                            <div class="card-body">
                                <p class="card-subtitle mb-2 text-muted">{{ row[0] }} - {{ row[1] }} - {{ row[2] }} - {{ row[3] }} - {{ row[4] }} - {{ row[5] }} - {{ row[6] }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
            </div>

            
            
        </main>

        <!-- <footer class="mb-5 small text-center text-muted">
            Data provided by <a href"">Google Calendar API</a>
        </footer> -->

    </body>

</html>
